.slogans {
  height: 450px;
  background-color: $color-primary;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  @media (max-width: $bp-s) {
    height: 300px;
  }
  @media (max-width: $bp-xs) {
    height: 250px;
  }

  &__img {
    height: 400px;
    width: auto;

    @media (max-width: $bp-m) {
      height: 350px;
    }
    @media (max-width: $bp-s) {
      height: 250px;
    }
    @media (max-width: $bp-xs) {
      height: 180px;
    }
  }
}
