.subjects {
  font-family: $font;
  &__title {
    text-align: center;
    margin: 30px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 25px;

    @media (max-width: $bp-m) {
      font-size: 20px;
    }
  }

  .subject {
    &__title {
      text-align: center;
      margin: 20px 0;
      font-size: 22px;
      font-weight: bold;
      letter-spacing: 1px;

      @media (max-width: $bp-m) {
        font-size: 18px;
      }
    }
  }

  .subject--sport {
    .subject__content {
      height: 500px;
      background-color: #0096e1;
      color: #fff;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      @media (max-width: $bp-m) {
        grid-template-columns: 1fr;
      }
    }

    .image {
      // background-image: url("/images/pge-stadium.png");
      background-image: url("./../../dist/images/pge-stadium.jpg");
      background-size: cover;
      background-position: center;
    }

    .graph {
      background-image: url("./../../dist/images/sport-chart.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      @media (max-width: $bp-m) {
        margin: 15px 0;
      }

      &__title {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        line-height: 1.5;
      }

      &__image {
        width: 400px;
        height: auto;
      }
      &__caption {
        font-size: 14px;
        text-align: center;
      }
    }
  }
  .subject--transport {
    .subject__content {
      height: 700px;
      background-color: #ffdf00;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      @media (max-width: $bp-m) {
        grid-template-columns: 1fr;
        height: auto;
      }
    }

    .graph {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      padding: 40px;
      @media (max-width: $bp-l) {
        padding: 20px;
      }

      &__title {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        line-height: 1.5;

        @media (max-width: $bp-xl) {
          font-size: 17px;
        }
        @media (max-width: $bp-m) {
          font-size: 16px;
        }
        @media (max-width: $bp-s) {
          font-size: 15px;
        }
        @media (max-width: $bp-xs) {
          font-size: 14px;
        }
      }

      &__image {
        width: 500px;
        height: auto;

        @media (max-width: $bp-l) {
          width: 400px;
        }
        @media (max-width: $bp-s) {
          width: 300px;
        }
        @media (max-width: $bp-xs) {
          width: 250px;
        }
      }
      &__caption {
        font-size: 14px;
        text-align: center;

        @media (max-width: $bp-m) {
          font-size: 13px;
        }
        @media (max-width: $bp-s) {
          font-size: 12px;
        }
        @media (max-width: $bp-xs) {
          font-size: 11px;
        }
      }
    }

    .description {
      display: flex;
      font-size: 16px;
      flex-direction: column;
      justify-content: center;
      padding-right: 100px;
      line-height: 1.6;

      @media (max-width: $bp-xl) {
        padding-right: 20px;
        font-size: 15px;
      }
      @media (max-width: $bp-l) {
        font-size: 14px;
        text-align: justify;
      }
      @media (max-width: $bp-m) {
        padding: 20px;
      }
      @media (max-width: $bp-s) {
        font-size: 13px;
      }
      @media (max-width: $bp-xs) {
        font-size: 12px;
      }

      &__text {
        &:not(:last-child) {
          margin-bottom: 20px;
        }

        &--bold {
          font-weight: bold;
        }
      }
      .bold {
        font-weight: bold;
      }
    }
  }
}
